{% extends "base.html" %} 
{% block content %} 
{% load static %}

<div>
    <h1 class="text-center p-2 d-block">Healthy Eating!</h1>
</div>

<div>
    <h2 class="text-center p-2 d-block">Tastie, healthy & nutritious choices</h2>
</div>

<div>
  <h3 class="text-center p-2 d-block">food, glorious food!</h3>
</div>

<div class="container d-flex flex-row flex-wrap justify-content-center">
    {% for restaurant in restaurants %} 
    <div class="card m-3" style="width: 18rem;">
        <img src="{{restaurant.image.url}}" class="card-img-top" alt="{{restaurant.restaurant_name}}">
        <div class="card-body">
            <h2 class="card-title">{{restaurant.restaurant_name|safe}} </h2>
            <p class="card-text">{{restaurant.restaurant_menu|safe}}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}








